@use "sass:color" as color;
@use "sass:map";
@use "sass:math";
@use "sass:string";

@use "sass:meta"; //used to detect sass version

@use "./helpers/helpers";

$has-sass-color: meta.function-exists("channel", $module: color);

/**
 * Calculates the relative luminance of a given color.
 *
 * Relative luminance is a perceptual brightness of a color in relation to black and white,
 * weighted according to human eye sensitivity (most to green, least to blue).
 * In simpler language, relative luminance is how bright the colors looks compared to b&w. 
 * The ratios in which these are getting multiplied is a number represent how much the human 
 * eye is sensible to it. Green is the color we are the most sensible to.
 *
 * @param {Color} $color - A valid Sass color.
 * @returns {Number} The relative luminance (between 0 and 1).
 * @throws Will throw an error if `$color` is not a valid color.
 */
@function relative-luminance($color) {
	@if meta.type-of($color) != "color" {
		@error "contrast-ratio: $color must be a color, got #{meta.type-of($color)}";
	}

	@if helpers.is-hsl($color) {
		$color: helpers.hsl-to-rgb($color);
	}
	$rgb: (
		"r": helpers.extract-channel($color, "red"),
		"g": helpers.extract-channel($color, "green"),
		"b": helpers.extract-channel($color, "blue"),
	);
	$r: helpers.linearize(map.get($rgb, "r"));
	$g: helpers.linearize(map.get($rgb, "g"));
	$b: helpers.linearize(map.get($rgb, "b"));

	@return (0.2126 * $r) + (0.7152 * $g) + (0.0722 * $b);
}
